package templates

templ Home() {
	<div class="bg-flame-bg text-flame-text">
		<button class="bg-flame-primary hover:bg-flame-hover active:bg-flame-dark text-black px-4 py-2 rounded-xl">
			Test
		</button>
	</div>
}
