package templates

templ Home() {
	<div class="w-full bg-flame-bg min-h-screen h-auto p-2">
		<div class="bg-flame-bg flex justify-center w-full text-flame-text">
			<form id="task-form"></form> // place holder for the oob coming
			// get week when landing
			<div hx-get="/week" hx-trigger="load" class="w-full" id="view">
			</div>
		</div>
	</div>
}
